version: '3.8'

services:
  api:
    build: .
    container_name: email_classifier_api
    ports:
      - "8001:8000"
    volumes:
      - ./app:/app/app # Hot-reload
    environment:
      - ENVIRONMENT=development
      - OPENAI_API_KEY=${OPENAI_API_KEY}  # Lê da variável de ambiente
      - AI_PROVIDER=ollama  # Pode ser 'openai' ou 'ollama'
      - OLLAMA_BASE_URL=http://host.docker.internal:11434  # URL do Ollama no host
    env_file:
      - .env
    restart: unless-stopped
    # Para usar GPU (se precisar com Ollama dentro do container)
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]